%% Go as fast as you can.
{mode, max}.

%% Test duration (will stop before this if all operations are
%% completed)
{duration, XX}.

{concurrent, XX}.

{driver, basho_bench_driver_fsal}.

%% The key generator is not used by any benchmark.
{key_generator, {uniform_int, 10000}}.

%% The value generator is only used by the put (micro-benchmark)
%% operation
{value_generator, {fixed_bin, XX}}.

{backend, XX}.

{backend_args, [
                %% Use more than one element in basepaths to
                %% distribute writes over several diectories. Only
                %% used for the file backend.
                {basepaths, ["/tmp/fsaltest1", "/tmp/fsaltest2"]},
                %% The following are only used by the amazon backend.
                {host, "s3.amazonaws.com"},
                {port, 443},
                {ssl, true},
                {uid, ""},
                {secret, ""},
                {bucket, ""}
               ]}.

%% Where indata resides for the macro benchmark
{inputpath, "/tmp/macrodata"}.

%% Path to the filetable ETS file. Used for gets/deletes.
{filetable_input, XX}.

%% put is micro-benchmark, put_direct is macro-benchmark
{operations, [{put, 1}]}.

